.big-container {
  .rent-benefits-section {
    .btn-owner {
      margin-top: 10px;
      color: #fff;
      border: solid 1px;
      font-weight: 500;

      &:hover {
        color: #fff;
      }
    }
  }
}