.btn-owner {
  background-color: transparent;
  color: #191a1b;
  border: solid 1px;
  border-color: #191a1b;
}

.btn-owner:hover {
  background-color: #191a1b;
  color: #fff;
  border-color: #191a1b;
}
