.basic-form {
  //   max-width: 1100px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  h2,
  h3 {
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    color: red;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .form-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
  }

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    input,
    select {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  .radio-group-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .radio-group {
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }

  .documents {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .upload-group {
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        padding: 8px;
        border: 1px dashed #ccc;
        border-radius: 5px;
      }
    }
  }

  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
      background-color: #0056b3;
    }
  }
}
