//@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1600px !important;
  }
}

@media (max-width: 1024px) {
  .vr {
    display: none !important;
  }
}

.app-container {
  font-family: "Manrope", sans-serif;

  .btn.btn-warning {
    color: #fff;
    font-weight: 500;

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  .header-container {
    font-weight: 500;
    padding-bottom: 22px;

    .btn-auth {
      .btn-login {
        margin-right: 10px;
      }
    }

    .dropdown-profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;

      .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
      }

      @media (max-width: 1000px) {
        .avatar {
          img {
            display: none;
          }
        }
      }

      cursor: pointer;
    }

    .navbar {
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;
      padding-top: 20px;
      padding-bottom: 0px;

      .nav-link {
        &.active {
          color: #03212b;
        }

        a:hover {
          color: white;
        }

        margin-right: 20px;
      }

      .nav-link:hover {
        color: rgb(163, 79, 0);
      }

      .vr {
        margin-top: 10px;
        height: 24px;
      }
    }
  }

  .hr {
    margin: 0;
  }
}

button.btn-search-location.btn.btn-warning {
  width: 100%;
}

.avatar {
  position: relative;
  border-radius: 100%;
}

.avatar--s {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
