.bg {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    filter: blur(8px);
    -webkit-filter: blur(3px);
}


.sign-in__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;


    form {
        width: 24rem;
        max-width: 90%;
        z-index: 1;
        animation: showSignInForm 1s;
        border-radius: 16px !important;

        img {
            width: 10rem;
        }
    }

    .sign-in__header {
        padding: 10px 10px;
        pointer-events: auto;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        button {
            border: none;
            padding: 8px 15px;
        }

        span {
            font-weight: 400;
        }
    }

    button {
        font-weight: 500;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .register {

        .choose-role {
            display: flex;
            justify-content: space-between;
        }


        @media (min-width: 840px) {
            width: 40%;
        }

    }
}

.sign-in__backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}


@keyframes showSignInForm {

    0%,
    30% {
        transform: translate(0, -150%);
    }

    70%,
    90% {
        transform: translate(0, 1rem);
    }

    80%,
    100% {
        transform: translate(0, 0);
    }
}